<div [class.w-[180px]]="isExpanded" class="w-16 h-screen transition-all duration-300 bg-white shadow-lg flex flex-col">

    <div class="p-4">
        <button (click)="toggleSidebar()" class="text-gray-600 hover:text-black">
          
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>

    <nav class="flex flex-col gap-4 mt-4">
        
        <a routerLink="/admin/allUsers" class="flex items-center gap-3 px-4 py-2 hover:bg-gray-100 cursor-pointer">
            <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M5.121 17.804A9.977 9.977 0 0112 15c2.21 0 4.24.717 5.879 1.927M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            <span *ngIf="isExpanded" class="text-gray-800 font-medium">User</span>
        </a>

      
        <a routerLink="/admin/allOrders" class="flex items-center gap-3 px-4 py-2 hover:bg-gray-100 cursor-pointer">
            <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span *ngIf="isExpanded" class="text-gray-800 font-medium">Transaction</span>
        </a>

       
        <a routerLink="/admin/allContacts" class="flex items-center gap-3 px-4 py-2 hover:bg-gray-100 cursor-pointer">
            <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3v18h18M3 9h18M9 21V9" />
            </svg>
            <span *ngIf="isExpanded" class="text-gray-800 font-medium">Contacts</span>
        </a>

        <a routerLink="/admin/search" class="flex items-center gap-3 px-4 py-2 hover:bg-gray-100 cursor-pointer">
            <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                    d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
            </svg>
            <span *ngIf="isExpanded" class="text-gray-800 font-medium">Search</span>
        </a>

    </nav>
</div>