<mat-tab-group>
    <mat-tab label="All Shares" class="!text-white">
        <div *ngIf="loading" class="flex justify-center items-center bg-gradient-to-b from-gray-900 to-gray-950">
            <mat-spinner></mat-spinner>
        </div>
        <div class="min-h-screen bg-gradient-to-b from-gray-900 to-gray-950 text-white px-6 py-12">
            <h2 class="text-4xl font-extrabold text-center mb-12 tracking-tight text-white">📊 All Available Shares
            </h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 max-w-7xl mx-auto">
                <mat-card *ngFor="let share of paginatedShares"
                    class="bg-gradient-to-br from-gray-800 via-gray-900 to-gray-950 h-[220px] rounded-2xl p-6 w-full transition-all duration-300 border border-white hover:border-blue-600">

                    <div class="flex items-center justify-between mb-4 overflow-hidden gap-2">
                        <div class="text-blue-400 text-lg font-semibold truncate w-3/4">
                            {{ share.meta.companyName }}
                        </div>
                        <mat-chip
                            class="bg-blue-600 text-white font-semibold h-6 px-2 rounded-lg overflow-hidden text-ellipsis max-w-[80px]">
                            {{ share.symbol }}
                        </mat-chip>
                    </div>
                    <div class="mb-4">
                        <p class="text-sm text-gray-400 mb-1">Current Price:</p>
                        <p [ngClass]="share.pChange > 0 ? 'text-green-400' : 'text-red-400'" class="text-2xl font-bold">
                            ₹ {{ share.lastPrice }}
                            <span class="ml-[150px]">
                                % {{ share.pChange }}
                            </span>
                        </p>

                    </div>
                    <div class="pt-2">
                        <button mat-raised-button color="primary" (click)="viewDetails(share)"
                            routerLink="/shareDetails"
                            class="w-full bg-blue-600 hover:bg-blue-800 text-white font-medium py-2 px-4 rounded-lg transition">
                            View Details →
                        </button>
                    </div>
                </mat-card>
            </div>

            <div class="flex justify-center mt-10">
                <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="page - 1"
                    [pageSizeOptions]="[pageSize]" (page)="onPageChange($event)"
                    class="!text-white !text-lg !bg-gray-400 !rounded-lg w-full max-w-md" [hidePageSize]="true"
                    [showFirstLastButtons]="true">
                </mat-paginator>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Search">
        <div class="min-h-screen bg-gradient-to-b from-gray-900 to-gray-950 text-white px-6 py-12">
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Search Shares by Name or Symbol</mat-label>
                <input matInput [(ngModel)]="searchText" placeholder="e.g., TCS, BSE" />
            </mat-form-field>
            <div *ngIf="searchText && getFilteredShares().length === 0" class="text-center text-danger mt-3">
                <strong>No matching jobs found.</strong>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 max-w-7xl mx-auto">
                <mat-card *ngFor="let share of getFilteredShares()"
                    class="bg-gradient-to-br from-gray-800 via-gray-900 to-gray-950 h-[220px] rounded-2xl p-6 w-full transition-all duration-300 border border-white hover:border-blue-600">

                    <div class="flex items-center justify-between mb-4 overflow-hidden gap-2">
                        <div class="text-blue-400 text-lg font-semibold truncate w-3/4">
                            {{ share.meta.companyName }}
                        </div>
                        <mat-chip
                            class="bg-blue-600 text-white font-semibold h-6 px-2 rounded-lg overflow-hidden text-ellipsis max-w-[80px]">
                            {{ share.symbol }}
                        </mat-chip>
                    </div>
                    <div class="mb-4">
                        <p class="text-sm text-gray-400 mb-1">Current Price:</p>
                        <p [ngClass]="share.pChange > 0 ? 'text-green-400' : 'text-red-400'" class="text-2xl font-bold">
                            ₹ {{ share.lastPrice }}
                        </p>
                    </div>
                    <div class="pt-2">
                        <button mat-raised-button color="primary" (click)="viewDetails(share)"
                            routerLink="/shareDetails"
                            class="w-full bg-blue-600 hover:bg-blue-800 text-white font-medium py-2 px-4 rounded-lg transition">
                            View Details →
                        </button>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>