<div class="bg-gradient-to-b from-gray-900 to-gray-950 text-gray-400">
    <div *ngIf="loading" class="flex justify-center items-center bg-gradient-to-b from-gray-900 to-gray-950">
        <mat-spinner></mat-spinner>
    </div>
    <div class="grid grid-cols-6">
        <div class="col-span-4 w-full max-w-3xl h-[500px] mx-5">
            <div *ngIf="!loading" class="flex gap-4 mb-4 justify-center">
                <button (click)="filterData('1m')" class="px-4 py-2 bg-blue-500 text-white rounded">1 Month</button>
                <button (click)="filterData('3m')" class="px-4 py-2 bg-blue-500 text-white rounded">3 Months</button>
                <button (click)="filterData('6m')" class="px-4 py-2 bg-blue-500 text-white rounded">6 Months</button>
                <button (click)="filterData('1y')" class="px-4 py-2 bg-blue-500 text-white rounded">1 Year</button>
            </div>
            <canvas id="linechart" class="w-full h-full"></canvas>
        </div>
        <div *ngIf="!loading" class="flex flex-1 col-span-2 h-full w-full">
            <div class="grid grid-cols w-full mt-5">
                <div class="w-full h-20">
                    <h2><span class="font-bold text-2xl">
                            Company :
                        </span>
                        {{shareInfo.shortName}}
                    </h2>
                    <h2><span class="font-bold text-2xl">
                            Industry :
                        </span>
                        {{shareInfo.industry}}
                    </h2>

                </div>

                <div class="w-full h-20 ">
                    <h2 class="text-red-400"><span class="font-bold text-xl">
                            DayLow :
                        </span>
                        {{shareInfo.dayLow}}
                    </h2>
                    <h2 class="text-green-500"><span class="font-bold text-xl">
                            DayHigh :
                        </span>
                        {{shareInfo.dayHigh}}
                    </h2>
                </div>

                <div class="w-full h-20">
                    <h2 class="mt-2 text-white"><span class="font-bold text-xl">
                            Current Price :
                        </span>
                        {{shareInfo.currentPrice}}
                    </h2>
                    <h2><span class="font-bold text-xl">
                            Previous Close :
                        </span>
                        {{shareInfo.previousClose}}
                    </h2>
                </div>

                <div class="w-full h-20">
                    <h2><span class="font-bold text-xl">
                            Volume :
                        </span>
                        {{shareInfo.volume}}
                    </h2>
                    <h2><span class="font-bold text-xl">
                            Recommendation :
                        </span>
                        <span class="text-xl uppercase text-white">{{shareInfo.recommendationKey}}</span>
                    </h2>
                </div>

                <div class="w-full h-20 py-2">
                    <button (click)="openModal()"
                        class="bg-green-500 hover:bg-green-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition mr-10">
                        Buy Now
                    </button>
                    <button (click)="openModal()"
                        class="bg-red-500 hover:bg-red-700 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition">
                        Sell Now
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!loading" class="w-full max-w-6xl mx-auto text-left py-10 mt-5">
        <h2 class="font-bold text-lg mb-4">About Company :</h2>
        <div class="font-sans text-md">
            {{shareInfo.longBusinessSummary}}
        </div>
    </div>
</div>


<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">

    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-xl w-full max-w-md p-6 relative">
        <h2 class="text-2xl font-bold mb-4 text-gray-900 dark:text-white">
            Share Details
        </h2>

        <p class="text-gray-700 dark:text-gray-300 mb-2">
            <strong>Company: {{shareInfo.shortName}}</strong>
        </p>
        <p class="text-gray-700 dark:text-gray-300 mb-2">
            <strong>Symbol:{{shareInfo.symbol}}</strong>
        </p>
        <p class="text-gray-700 dark:text-gray-300 mb-2">
            <strong>Price:{{shareInfo.currentPrice}}</strong>
        </p>
        <div class="text-gray-700 dark:text-gray-300 mb-4">
            <label for="quantity"><strong>Quantity:</strong></label>
            <input type="text" [(ngModel)]="quantity" name="quantity" (ngModelChange)="total()"
                class="rounded-lg ml-5 text-black">
        </div>

        <p class="text-gray-700 dark:text-gray-300 mb-2">
            <strong>Total :</strong>{{total1}}
        </p>

        <div class="flex justify-end">
            <button (click)="buyNow(shareInfo.symbol,shareInfo.currentPrice)"
                class="bg-green-500 hover:bg-green-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition mr-10">
                Buy Now
            </button>
            <button (click)="sellNow(shareInfo.symbol,shareInfo.currentPrice)"
                class="bg-red-500 hover:bg-green-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition mr-10">
                Sell Now
            </button>
            <button (click)="closeModal()" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded">
                Close
            </button>
        </div>
    </div>
</div>